/* This file is for your main application css. */
.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 38px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}
